@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Merriweather');

* {
	padding: 0
	margin: 0;
}
body {
	background-color: white;
	color: #222;
	font-family: 'Merriweather', Times;
	font-variant: 'light 300'
	font-size: 1em; 
}
nav a {
	color: rgb(11, 125, 193);
	margin-right: 20px;
}
a { 
	color: rgb(11, 125, 193);
	text-decoration: none;
}
h1 {
	color: #2046A8;
	font-family: 'Roboto', sans-serif;
	font-weight: 'black 900';
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 4em;
	text-align: center;
	padding-top: 50px;
}
h2{
	color:rgb(11,125,193);  
	font-family: 'Roboto', sans-serif;
	font-weight: 'medium 500';
	font-size: 3em;
	padding-top: 100px;
}
h3 {
	font-family: 'Roboto', sans-serif;
	font-weight: 'regular 400';
	font-size: 2em;
}
img {
	width: 100%;
}
section{
	text-align: center;
}
ul{
	line-height: 1.5em;
	text-align: center;
	list-style-type: none;
	padding-top: 100px
	padding-bottom: 20px;
}
footer{
	background-color: #548F2A;
	padding: 20px;
	text-align: center;
}
.slogan{
	text-align: center
	padding-top: 50px 20px 20px 20px;
}
.calltoaction{
	font-size: 18px;
	text-align: center;
	padding: 30px 30px 50px;
}
/*#collborationoverivew{*/
	float: left;
}
/*#partnerwithus{*/
	float: right;
}





