@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Merriweather');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
header {
    background-color: ##FFED74;
    border: 1px black solid;
    padding: 20px;
}
main {
	width: 40em;
	margin: auto;
}
body {
	/*background-color: white;*/
	color: #5F5F5F;
	font-family: 'Merriweather', Times;
	font-variant: 'light 300';
	font-size: 16px; /*16px=1em */
	}
nav {
	background-color: #E8C66A;
    border: 1px black solid;
    padding: 20px;
}
nav a {
	font-family: 'Roboto', sans-serif;
	font-weight: 'regular 400';
	font-size: 1.5em;
	color: ##f5b51e;
	font-variant: small-caps;
	text-align: right;
	padding: 1.5em;
	margin: 2em;
}
a { 
	font-family: 'Merriweather', Times;
	font-variant: 'light 300';
	color: #5F5F5F;
	text-decoration: underline;
}
h1 {
	color: #0b7dc1;
	font-family: 'Roboto', sans-serif;
	font-weight: 'black 900';
	letter-spacing: 2px;
	font-size: 4em;
	padding-top: 2em;
	/*width: 40em;*/
	text-align: center;
}
h2{
	color: #f5b51e;  
	font-family: 'Roboto', sans-serif;
	font-weight: 'medium 500';
	font-size: 3em;
	padding-top: 1em;
}
h3 {
	color: ##053e5f;
	font-family: 'Roboto', sans-serif;
	font-weight: 'regular 400';
	font-size: 1.75em;
	padding: 1em 1em .5em 0;
}
p {
	line-height: 1.75em;
	font-size: 1em;
}
img {
	width: 100%;
}

ul{
	line-height: 2em;
	/* text-align: center; */
	list-style-type: none;
	padding: 0 0 1em;
	font-size: 1em;
}
section {
	background-color: #FFE2B8;
    border: 1px black solid;
    padding: 20px;
}
aside {
	background-color: #FFC675;
    border: 1px black solid;
    padding: 20px;
    float: left;
    width: 40em;
}
footer{
	background-color: #ff957e;
    border: 1px black solid;
    padding: 20px;
}
footer a {
	padding: 1em;
}
.slogan{
	line-height: 1.5em;
	padding-top: 4em 1em 1em 1em;
	width: 30em;
	margin: auto;
}
.calltoaction{
	font-family: 'Merriweather', Times;
	font-weight: 'light 300';
	font-size: 1.25em;
	padding: 1em;
	border: solid; 
	border-color: #de4526;
	border-width: 2px;
	/*background: #de4526;*/
	width: 15em;
	margin: 2.5em auto 2.5em auto;
}
/*#calltoaction2{*/
	font-family: 'Merriweather', Times;
	font-weight: 'light 300';
	font-size: 1.5em;
	padding: 1em;
	border: solid;
	border-color: #de4526;
	border-width: 2px;
	width: 15em;
	margin: 2.5em auto 2.5em auto;
}
/*.events{*/
	float: left;
	width: 40em;
	padding: 1em;

}
.events img {
	width: 30%;
}
.events p {
	width: 28em;
}
/*#change {*/
    width: 40em;
    margin: auto;
}

#calltoaction1 a {
    border: #de4526 2px solid;
    color: inherit;
    display: block;
    padding: 2em;
    margin: 1em;
}

