body {
	color: white;
	font-family: Helvetica;
	text-align: center;
}
h1 {
	color: #0B7DC1;
}

p {
	background-image: URL("https://mi621.files.wordpress.com/2015/01/internet-2025.jpg");
	background-size: cover;
}

#slogan {
	font-style: italic;
}