body {
	background-image: url("https://mi621.files.wordpress.com/2015/01/internet-2025.jpg");
	background: rgba(11,125,193,.3);
	background-size: cover;
	background-repeat: no-repeat;
	color: white;
	font-family: Helvetica;
	text-align: center;
}
h1 {
	color: #2046A8;
}

#slogan {
	font-style: italic;
}
ul{
	text-align: center;
	list-style-type: none;
}
#events {
	text-align: left;
}
#collborationoverivew {
	text-align: left;
}